node_modules/
config.json
package-lock.json
.vscode/
/bot/node_modules
.env
.bash_history
.gitconfig
.sudo_as_admin_successful
__pycache__/
/bot/__pycache__/
/bot/bot.log*
/bot/Cogs/__pycache__/*
bot/Cogs/__pycache__/*
Cogs/__pycache__/*
/bot/ffmpeg.exe
/bot/sounds
.idea/